@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.heading {
  font-size: 13pt;
  font-family: 'Roboto', sans-serif;
}

.subtext {
  font-size: 9pt;
  color: #828282;
  font-family: 'Open Sans', sans-serif;
}

.inlineText {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

.inlineText p {
  margin: .5rem 0;
}
