.container {
  max-width: 1280px;
  width: 90%;
  margin: 10px auto;
  composes: secondaryBackground from '../shared-styles/colors.css';
}

.header {
  composes: primaryBackground from '../shared-styles/colors.css';
  padding: .5rem;
}

.logo {
  border: 1px solid white;
  vertical-align: bottom;
  margin-right: .5rem;
}

.headerText {
  composes: heading from '../shared-styles/typography.css';
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
