.container {
  padding: 1rem 0 0;
}

.text {
  composes: inlineText from '../shared-styles/typography.css';
}

.header {
  composes: subtext from '../shared-styles/typography.css';
  padding: .3rem 0;
}

.author {
  font-weight: bold;
}

.kids {
  padding-left: 1rem;
}

.toggleButton {
  padding: 0 0 0 .5rem;
  cursor: pointer;
}

.loadImage {
  composes: loading from '../shared-styles/images.css';
}

.enter {
  opacity: 0;
  transform:scaleY(0);
  transform-origin: top;
}

.enterActive {
  opacity: 1;
  transform:scaleY(1);
  transition: all 0.3s ease-out;
}

.exit {
  opacity: 1;
  transform:scaleY(1);
  transform-origin: top;
}

.exitActive {
  opacity: 0;
  transform:scaleY(0);
  transition: all 0.3s ease-out;
}

.exitDone {
  opacity: 0;
  transform:scaleY(0);
  height: 0;
}
