.container {
  padding: .5rem 0;
}

.divider {
  composes: subtext from '../shared-styles/typography.css';
  padding: 0 .5rem;
}

.commentLink {
  composes: subtext from '../shared-styles/typography.css';
  text-decoration: none;
}

.commentLink:hover {
  text-decoration: underline;
}
