.container {
  composes: container from '../shared-styles/layout.css';
}

.loadButton {
  margin: 2rem 0 .8rem;
}

.loadImage {
  composes: loading from '../shared-styles/images.css';
  vertical-align: middle;
}
