.container {
  padding: 0 0 .2rem 0;
}

.title {
  display: inline;
  composes: heading from '../shared-styles/typography.css';
}

.title a, a:hover {
  text-decoration: none;
  color: #000000;
}

.title a:visited {
  color: #828282;
}

.url {
  padding: 0 .5rem;
  composes: subtext from '../shared-styles/typography.css';
}

